.edit-form {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  white-space: nowrap;
}

.edit-form h2 {
  font-size: 1.5em;
}

.edit-form-elem label {
  display: inline-block;
  width: 85px;
}

.edit-form-elem input:not([type="checkbox"]),
.edit-form-elem select,
.color-picker {
  width: 130px;
}
.edit-form-elem input.half-width {
  width: 62px;
}

.edit-form-elem .half-width:not(:last-child),
.color-picker > *:not(:last-child) {
  margin-right: 4px;
}
.edit-form-elem .half-width:not(:last-child) {
  width: 63px;
}

.color-picker {
  display: inline-flex;
  align-items: center;
}
.color-picker input[type="color"] {
  flex: 1;
}
