.edit-form {
  display: inline-block;
  margin: 0 5px 5px 0px;
  border: 1px solid #dee2e6;
  margin-top: -1px;
}

.edit-form h2 {
  font-size: 1.5em;
}

.edit-form-elem label,
.edit-form-elem .label {
  display: inline-block;
  width: 85px;
}
label.value-label {
  width: auto;
}

.edit-form-elem input[type="color"],
.edit-form-elem input[type="number"],
.edit-form-elem input[type="range"],
.edit-form-elem input[type="text"],
.edit-form-elem select,
.color-picker {
  width: 130px;
}
.edit-form-elem input.half-width {
  width: 62px;
}

.edit-form-elem .half-width:not(:last-child),
.color-picker > *:not(:last-child) {
  margin-right: 4px;
}
.edit-form-elem .half-width:not(:last-child) {
  width: 63px;
}

.color-picker {
  display: inline-flex;
  align-items: center;
}
.color-picker input[type="color"] {
  flex: 1;
}

.group {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  white-space: nowrap;
}
.input-group {
  display: inline-block;
  width: inherit;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.group-padding * {
  vertical-align: middle;
}
